@model IWP_SOA_VERITABANI.SqlModel.Sorular

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Sorular</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.soruBaslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruBaslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruOzet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruOzet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruIcerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruIcerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruResim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruResim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruTarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruTarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruGorunme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruGorunme)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soruCevapSayisi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soruCevapSayisi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kategori.kategoriAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.kategoriAd)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.soruID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
