
@model Tuple< IWP_SOA_VERITABANI.SqlModel.Sorular,IEnumerable<IWP_SOA_VERITABANI.SqlModel.Cevaplar>>
<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/soru.css">

    @RenderBody()

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" media="(max-width:500px)" href="~/Content/mobilemain.css">
    <style>

        .card-inner {
            margin-left: 4rem;
            margin-top: 2rem;
        }

        #pad1 {
            padding: 4px;
            ;
        }
    </style>


</head>






<body>
        <header class="bg-gri">
            <div class="container">
                <nav id="navbar">
                    <h1 class="fonts-style">SolveMe</h1>

                    <ul>
                        <li><a href="/deneme/deneme/index">Home</a></li>
                        <li><a href="/deneme/deneme/sorular">Tyt</a></li>
                        <li><a href="/deneme/deneme/Aytsorular">Ayt</a></li>
                        @if (Session["KullanýcýAdý"] != null)
                        {
                            <li><a href="/deneme/deneme/quit">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="/deneme/deneme/login">Login </a></li>

                        }


                    </ul>
                </nav>
            </div>
        </header>






    <div id="fade1">
        <div class="modal fade"
             id="exampleModalCenter"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cevaplamak için formu doldurunuz: </h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-x: hidden; max-height: 400px; overflow-y:auto">

                        @using (Html.BeginForm("Sorugonder", "deneme", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <div style="display:flex;flex-direction:column;padding:1rem;">
                            <textarea id="pad1" name="textInput" placeholder="Eklemek istediðiniz cevabýn içeriði..." style="-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px; resize: none;" class="pb-cmnt-textarea" required></textarea>
                            <textarea name="id" style="visibility:hidden;width:1px;height:1px;">@Html.DisplayFor(model=>model.Item1.soruID)</textarea>
                            <input id="pad1" type="file" name="img" />
                       
                                <button id="pad1" class="btn btn-primary pull-right" type="submit">Gönder</button>
                           
                            </div>

                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Kapat
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>









    <div class="container">
        <h2 class="text-center">@Html.DisplayFor(model => Model.Item1.soruBaslik) </h2>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">


                        @{
                            if (Model.Item1.soruResim != null)
                            {
                                <a href="~/images/@Model.Item1.soruResim"><img src="~/images/@Model.Item1.soruResim" class="img-thumbnail" alt="~/images/@Model.Item1.soruResim" /></a>
                            }

                            DateTime n = Convert.ToDateTime(DateTime.Now);
                            DateTime o = Convert.ToDateTime(Model.Item1.soruTarih);
                            TimeSpan sonuc = n - o;
                            int a = Convert.ToInt32(sonuc.TotalMinutes);
                            string text = a.ToString();


                            <p class="text-secondary text-center">@text  Dakika önce</p>
                        }

                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href=""><strong></strong></a>

                        </p>
                        <div class="clearfix"></div>
                        <p>
                            @Html.DisplayFor(model => Model.Item1.soruIcerik)

                            @Html.DisplayFor(model => Model.Item1.soruResim)




                        </p>
                        <p>
                            @if (Session["KullanýcýAdý"] != null)
                            {
                                <a class="float-right btn btn-outline-primary ml-2" data-toggle="modal"
                                   data-target="#exampleModalCenter"> <i class="fa fa-reply"></i> Cevapla</a>
                            }
                            </p>
                    </div>
                </div>





                @{
                    foreach (var item in Model.Item2)
                    {
                        if (item.soruID.Equals(Model.Item1.soruID))
                        {
                            <div class="card card-inner">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">

                                            @{
                                                if (item.cevapResim != null)
                                                {
                                                    <img src="~/images/@item.cevapResim" alt="~/images/@item.cevapResim" href="~/images/@item.cevapResim" class="img img-thumbnail" />
                                                }

                                                DateTime nt = Convert.ToDateTime(DateTime.Now);
                                                DateTime ot = Convert.ToDateTime(item.cevapTarih);
                                                TimeSpan sonuct = nt - ot;
                                                int at = Convert.ToInt32(sonuct.TotalMinutes);
                                                string textt = at.ToString();

                                                <p class="text-secondary text-center">@textt  Minutes Ago</p>
                                            }
                                        </div>
                                        <div class="col-md-10">
                                            <p><a><strong>@Html.DisplayFor(model => item.cevapAdSoyad)</strong></a></p>
                                            <p>@Html.DisplayFor(model => item.cevapIcerik)</p>
                                            <p>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                }



            </div>
        </div>
    </div>










    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


